@{
    ViewData["Title"] = "Stream URL builder";
}
<h1>Stream URL builder</h1>
<p>
    This page will help you build a stream URL
</p>
<noscript>
    <div class="alert alert-danger">
        This page makes use of JavaScript,
        which is disabled in your browser if you can read this message.
        If you for some reason cannot enable scripting,
        you can read the <a asp-action="Info">How to use</a> guide
        which tells you how to construct an URL manually.
    </div>
</noscript>

<div class="row">
    <div class="col-md-6">
        <h2>Add an id</h2>
        <div class="form-inline">
            <input type="url" id="tbUrl" class="form-control" placeholder="Youtube URL" />&nbsp;
            <input type="button" class="btn btn-primary" id="btnAddId" value="Add" />
        </div>
    </div>
    <div class="col-md-6">
        <h2>Current list</h2>
        <table class="table" id="idTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"><i>List is empty</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" id="idTypeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select type of id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The URL you supplied contains a video id as well as a playlist id.
                    Please select which one you would like to add to your queue.
                </p>
                <div class="form-group">
                    <input type="button" id="btnIdModalVideoId" class="btn btn-primary" data-value="video" value="Video id" data-dismiss="modal" />
                </div>
                <div class="form-group">
                    <input type="button" id="btnIdModalPlId" class="btn btn-primary" data-value="pl" value="Playlist id" data-dismiss="modal" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/builder.view.js" asp-append-version="true" defer></script>
}