@{
    ViewData["Title"] = "Stream URL builder";
    var Settings = (ConfigModel)ViewBag.Settings;
}
<h1>Stream URL builder</h1>
<noscript>
    <div class="alert alert-danger">
        This page makes use of JavaScript,
        which is disabled in your browser if you can read this message.
        If you for some reason cannot enable scripting,
        you can read the <a asp-action="Info">How to use</a> guide
        which tells you how to construct an URL manually.
    </div>
</noscript>
<p>
    This page will help you build a stream URL.
    You can enter an individual playlist or video id,
    or you can also paste an entire YouTube URL to have it extracted.
</p>

<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-1">
            <input type="text" id="tbUrl" class="form-control" placeholder="Youtube URL" />
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" id="btnAddId">Add</button>
            </div>
        </div>
    </div>
</div>

<h2>Options</h2>
<div class="row">
    <div class="col-md-4">
        <label>Repeat count</label>
        <input type="number" name="repeat" id="tbRepeat" value="1" min="1" max="@StreamOptionsModel.MaxRepetitions" class="form-control" />
    </div>
    <div class="col-md-4">
        <div>
            <label><input type="checkbox" name="stream" id="cbStream" /> Simulate real-time streaming</label>
        </div>
        <div class="input-group">
            <input type="number" name="buffer" id="tbBuffer" value="@StreamOptionsModel.DefaultBufferSize" min="1" max="@StreamOptionsModel.MaxBufferSize" class="form-control" />
            <div class="input-group-append">
                <span class="input-group-text">Seconds</span>
            </div>
            <i>
                Increase this value if you experience stuttering
            </i>
        </div>
    </div>
    <div class="col-md-4">
        @if (Settings.UseSponsorBlock)
        {
            <label><input type="checkbox" name="raw" id="cbRaw" /> Do not cut non-music sections</label>
            <label><input type="checkbox" name="random" id="cbRandom" /> Play in random order</label>
        }
    </div>
</div>

<h2>URL</h2>
<div class="row">
    <div class="col-md-12">
        <input type="text" readonly id="tbGeneratedUrl" class="form-control" />
    </div>
</div>

<h2>Current list</h2>
<table class="table" id="idTable">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Title</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3"><i>List is empty</i></td>
        </tr>
    </tbody>
</table>

<div class="modal" tabindex="-1" id="idTypeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select type of id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The URL you supplied contains a playlist id.
                    Please select how you would like to add it to your queue.
                </p>
                <b>Playlist</b>
                <p>
                    Adding the playlist keeps the URL short
                    and makes the stream dynamically read it when needed.
                </p>
                <b>Individual videos</b>
                <p>
                    Adding the videos allows you to reorder and remove items from it now.
                    The contents will not change when the playlist changes,
                    and the URL is getting longer.
                    For big playlists this can mean that the URL gets longer
                    than your device can handle.
                </p>
                <div class="form-group">
                    <input type="button" id="btnIdModalVideoId" class="btn btn-primary" data-value="video" value="Individual videos" data-dismiss="modal" />
                </div>
                <div class="form-group">
                    <input type="button" id="btnIdModalPlId" class="btn btn-primary" data-value="playlist" value="Playlist" data-dismiss="modal" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="idSelectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select type of id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The URL you supplied contains a video id and a playlist id.
                    Please select which one you want to use.
                </p>
                <div class="form-group">
                    <input type="button" id="btnSelectModalVideoId" class="btn btn-primary" data-value="video" value="Video" data-dismiss="modal" />
                </div>
                <div class="form-group">
                    <input type="button" id="btnSelectModalPlId" class="btn btn-primary" data-value="playlist" value="Playlist" data-dismiss="modal" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/builder.view.js" asp-append-version="true" defer></script>
}
