@model ConfigModel
@inject YtStream.Services.ConfigService _configService
@inject YtStream.Services.LockService _lockService
@{
    ViewData["Title"] = "Home Page";
    string? ErrorMessage = null;
    if (Model == null)
    {
        try
        {
            _configService.GetConfiguration();
            ErrorMessage = "Configuration is null";

        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}

<div>
    <h1>YtStream</h1>
    @if (Model == null)
    {
        <div class="alert alert-danger">
            <p>
                Your configuration is damaged.
                Please fix <code>config.json</code> manually or delete it to reset the settings.
                The streaming system is locked until you do this.
            </p>
            <p>
                Error: <code>@ErrorMessage</code>
            </p>
        </div>
    }
    else if (!Model.IsValid())
    {
        <div class="alert alert-danger">
            <p>
                The configuration is invalid
            </p>
            <ul>
                @foreach (var Err in Model.GetValidationMessages())
                {
                    <li>@Err</li>
                }
            </ul>
            <p>
                Streaming functionality is unavailable until the problems are fixed.
            </p>
        </div>
    }
    @if (_lockService.Locked)
    {
        <div class="alert alert-warning">
            This application is currently locked, and streaming is not available.
            <a asp-action="ChangeLock" asp-controller="Manage">An administrator can unlock it</a>
        </div>
    }
    <p>
        This system allows you to directly stream Youtube videos to MP3.
        It has a few features that separate it from other systems.
        Options marked with an asterisk may be disabled by the application operator.
    </p>
    <ul>
        <li>
            The audio stream is delivered while being downloaded.
            No need to wait for it to finish on the server.
        </li>
        <li>
            Sends additional HTTP headers that allow streaming on DLNA devices.
        </li>
        <li>
            Concatenate multiple videos into one stream.
        </li>
        <li>
            Stream entire playlists as one continuous audio segment.
        </li>
        <li>
            * Once streamed, the stream stays available,
            even if the original video is deleted.
        </li>
        <li>
            * Removal of non-music sections.
            This application uses SponsorBlock to reliably remove non-music sections from music videos.
        </li>
    </ul>
    <p>
        Check "<a asp-action="Info">How to use</a>" for usage instructions.
    </p>
    <hr />
    <p>
        YtStream: Live transcoding of youtube videos into MP3<br />
        Copyright (C) 2022 Kevin Gut
    </p>
    <p>
        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.
    </p>
</div>
