@model ConfigModel
@inject YtStream.Services.ConfigService _configService
@inject YtStream.Services.ApplicationLockService _lockService
@{
    ViewData["Title"] = "Home Page";
    string? ErrorMessage = null;
    if (Model == null)
    {
        try
        {
            _configService.GetConfiguration();
            ErrorMessage = "Configuration is null";

        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}

<div>
    <h1>YtStream</h1>
    @if (Model == null)
    {
        <div class="alert alert-danger">
            <p>
                Your configuration is damaged.
                Please fix <code>config.json</code> manually or delete it to reset the settings.
                The streaming system is locked until you do this.
            </p>
            <p>
                Error: <code>@ErrorMessage</code>
            </p>
        </div>
    }
    else if (!Model.IsValid())
    {
        <div class="alert alert-danger">
            <p>
                The configuration is invalid
            </p>
            <ul>
                @foreach (var Err in Model.GetValidationMessages())
                {
                    <li>@Err</li>
                }
            </ul>
            <p>
                Streaming functionality is unavailable until the problems are fixed.
            </p>
        </div>
    }
    @if (_lockService.Locked)
    {
        <div class="alert alert-warning">
            This application is currently locked, and streaming is not available.
            <a asp-action="ChangeLock" asp-controller="Manage">An administrator can unlock it</a>
        </div>
    }
    <p>
        This system allows you to directly stream Youtube videos to MP3 capable devices.
    </p>
    <p>
        <a asp-action="Player" class="btn btn-primary">I want to listen to a playlist with my browser</a><br />
        Recommended if you want to listen to a single playlist in a comfortable manner.
        This launches a full featured media player.
        <a asp-action="Player" asp-route-playlist="PLe8xCqIxz00_sXS8Zm2i4CD0XbN15eo52">Demo</a>
    </p>
    <p>
        <a asp-action="Builder" class="btn btn-primary">I want to create a custom stream</a><br />
        Recommended if you want to generate a URL to use on a different device,
        or if you want to construct a more advanced stream from multiple videos and/or playlists.
    </p>
    <hr />
    <p>
        YtStream: Live transcoding of youtube videos into MP3<br />
        Copyright (C) 2022 Kevin Gut - <a target="_blank" rel="noreferrer nofollow noopener"
            href="https://github.com/AyrA/YtStream">Source Code</a>
    </p>
    <p>
        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.
    </p>
</div>
