@{
    var SafetyCheck = Tools.GetRandom(1, 4);
}
<p>
    Please check the box "<b>Confirm @SafetyCheck</b>" to confirm this action
</p>
<input type="hidden" name="FormSafetyCheck" value="@SafetyCheck" />
@for (var i = 1; i < 4; i++)
{
    <label>
        <input type="checkbox" name="FormSafetyConfirm" value="@i" />
        Confirm @i
    </label>
    <br />
}
