@using YtStream.Extensions;
@inject YtStream.Services.Accounts.UserManagerService _userManagerService
<div class="passwd-complexity noscript-hide">
    <ul>
        @if (_userManagerService.Rules.MinimumLength > 0)
        {
            <li class="passwd-minlength"><span></span> Minimum length: @_userManagerService.Rules.MinimumLength</li>
        }
        <li class="passwd-uppercase"><span></span> Character type: Uppercase</li>
        <li class="passwd-lowercase"><span></span> Character type: Lowercase</li>
        <li class="passwd-digits"><span></span> Character type: Digits</li>
        <li class="passwd-symbols"><span></span> Character type: Symbols</li>
        @if (_userManagerService.Rules.RuleCount > 0)
        {
            <li class="passwd-rulecount">
                <span></span> Has @_userManagerService.Rules.RuleCount character types
                (types: uppercase, lowercase, digits, symbols)
            </li>
        }
        <li class="passwd-match"><span></span> Password confirmation matches</li>
    </ul>
</div>
<script src="~/js/passwordinfo.view.js" asp-append-version="true" 
    defer data-passwordrules="@_userManagerService.Rules.ToJson()"></script>
