<div class="passwd-complexity" style="display:none">
    <ul>
        @if (UserManager.Rules.MinimumLength > 0)
        {
            <li class="passwd-minlength"><span></span> Minimum length: @UserManager.Rules.MinimumLength</li>
        }
        <li class="passwd-uppercase"><span></span> Character type: Uppercase</li>
        <li class="passwd-lowercase"><span></span> Character type: Lowercase</li>
        <li class="passwd-digits"><span></span> Character type: Digits</li>
        <li class="passwd-symbols"><span></span> Character type: Symbols</li>
        @if (UserManager.Rules.RuleCount > 0)
        {
            <li class="passwd-rulecount">
                <span></span> Has @UserManager.Rules.RuleCount character types
                (types: uppercase, lowercase, digits, symbols)
            </li>
        }
        <li class="passwd-match"><span></span> Password confirmation matches</li>
    </ul>
</div>
<script src="~/js/passwordinfo.view.js" asp-append-version="true" defer data-passwordrules="@UserManager.Rules.ToJson()"></script>
