@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<p class="text-danger">An error occurred while processing your request</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (Model.Error != null)
{
    <h2>Error message</h2>
    <p>@Model.Error.Message</p>
    if (Model.ShowDetails)
    {
        <div>
            <h2>Type</h2>
            <pre>@Model.Error.GetType().Name</pre>
        </div>
        <div>
            <h2>Stack trace</h2>
            <pre>@Model.Error.StackTrace</pre>
        </div>
    }
}

<a href="#" class="btn btn-primary backlink">Go back</a>