<h1>Application locked</h1>

<div class="alert alert-danger">
    This application is currently locked and streaming functionality is unavailable.
    Please try again later.<br />
    If you are the administrator of this application,
    <a asp-action="Config" asp-controller="Home">
        you can unlock it in the settings
    </a>
</div>