@{
    ViewData["Title"] = "Change Password";
	var PasswordChanged = ViewBag.Changed != null && (bool)ViewBag.Changed;
}
<h1>Change password</h1>
@if (PasswordChanged)
{
	<div class="alert alert-success">
	 Your password was changed
	</div>

	<a asp-action="Index" class="btn btn-primary">OK</a>
}
@if (ViewBag.ErrMsg != null)
{
    <div class="alert alert-danger">@ViewBag.ErrMsg</div>
}
<form asp-action="ChangePassword" method="post">
    <div class="row form-group">
        <div class="col-md-4">
            <label>Existing password</label>
            <input type="password" name="OldPassword" required class="form-control" placeholder="Old password" />
        </div>
        <div class="col-md-4">
            <label>New password</label>
            <input type="password" name="NewPassword" required class="form-control password-check"
                   minlength="@UserManager.PasswordMinLength" placeholder="New password" />
        </div>
        <div class="col-md-4">
            <label>New password</label>
            <input type="password" name="ConfirmPassword" required class="form-control password-match"
                   minlength="@UserManager.PasswordMinLength" placeholder="New password" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @await Html.PartialAsync("_PasswordInfo")
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary password-validate" value="Change" />
        </div>
    </div>
</form>
<p>
    <a asp-action="Index" class="btn btn-link">Go back</a>
</p>