@model AccountInfo
@{
    ViewData["Title"] = "Account information";
    var err = (string)ViewBag.ErrMsg;
    var Settings = (ConfigModel)ViewBag.Settings;
}
<h1>Account information</h1>
<p>
    User name: <b>@Model.Username</b> [<a asp-action="ChangeName">Change</a>]
</p>
<p>
    Password: <b>*set*</b>[<a asp-action="ChangePassword">Change</a>]
</p>
<p>
    Streaming keys: <b>@Model.ApiKeys.Length</b> [<a asp-action="ManageKeys">Manage</a>]
</p>
<p>
    Permissions: <b>@string.Join(", ", Model.GetRoleStrings())</b>
</p>
@if (Model.Roles.HasFlag(UserRoles.Administrator))
{
    <p>
        Ads: <b>@(Model.DisableAds?"Off":"On")</b> [<a asp-action="ChangeAdSetting">Change</a>]
    </p>
}
<p>
    <a asp-action="DeleteAccount" class="btn btn-danger">Delete account</a>
</p>