@model AccountInfo
@{
    ViewData["Title"] = "Account information";
    var err = (string)ViewBag.ErrMsg;
    var Settings = (ConfigModel)ViewBag.Settings;
}
<h1>Account information</h1>
<p>
    User name: @Model.Username [<a asp-action="ChangeName">Change</a>]
</p>
<p>
    Password: [<a asp-action="ChangePassword">Change</a>]
</p>
<p>
    Streaming keys: @Model.ApiKeys.Length [<a asp-action="ManageKeys">Manage</a>]
</p>
<p>
    Permissions: @string.Join(", ", Model.GetRoleStrings())
</p>
