@{
    var ErrMsg = (string)ViewBag.ErrMsg;
    var minPwSize = YtStream.Services.Accounts.UserManagerService.PasswordMinLength;
    ViewData["Title"] = "Register";
}
@if (!string.IsNullOrEmpty(ErrMsg))
{
    <div class="alert alert-danger">@ErrMsg</div>
}

<h2>Create user</h2>
<br />
<form asp-action="Register" method="post">
    <div class="row">
        <div class="form-group col-md-4">
            <label>User Name</label>
            <input type="text" class="form-control" id="userName" name="userName"
                   rerquired placeholder="Enter user name" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Password</label>
            <input type="password" class="form-control password-check" name="password" id="password"
                   minlength="@minPwSize"
                   required placeholder="Password" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Password</label>
            <input type="password" class="form-control password-match" name="passwordRepeat" id="passwordRepeat"
                   minlength="@minPwSize"
                   required placeholder="Password" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            @await Html.PartialAsync("_PasswordInfo")
        </div>
    </div>
    <div class="row">
        <div class="form-check col-md-4">
            <input type="submit" class="btn btn-primary password-validate" value="Register" />
        </div>
    </div>
</form>
